@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import "variables";

.Chat{
  display: flex;
  height: $total-height;
  width: $total-width;
  font-family: 'Lato', sans-serif;
}

.chatContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}