// -------dimensions-------

$top-line-height: 70px;

$total-height: 100%;
$total-width: 100%;

$left-chat-width: 220px;

//-------colors-------

$background-left: #3e0e40;
$colored-font: rgb(72, 35, 75)